language: python

python:
    - "2.7"
    - "pypy"
    - "3.2"
install:
    - pip install --use-mirrors nose

script:
  - python setup.py install
  - rake lint
  - nosetests tests/unit tests/integration
